body {
    height: 100vh;

    display: grid;
    grid-template-columns: minmax(3rem, 0.6fr) 1fr minmax(3rem, 0.6fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    justify-items: center;

    font-family: 'EB Garamond', serif;
    font-weight: 100;

    background-color: #fff;
    color: #3f3f3f;
}

header.page { grid-area: 1 / 1 / 2 / 4; }
section.page { grid-area: 2 / 2 / 3 / 3; }
footer.page { grid-area: 3 / 1 / 4 / 4; }

footer {
    align-self: end;
    justify-self: center;
}

.centered-text {
    text-align: center
}

.faded {
    color: #a5a5a5;
    font-style: italic;
}

ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    list-style: none;
    padding: 0;
}

li {
    justify-self: center;
}

.double-text {
    font-size: 2.5em;
}

.half-text {
    font-size: .5em;
}

a:visited, a:link {
    color: #3f3f3f
}

a:hover {
    color: #000;
}

header.page > .subtitle {
    text-align: end;
}

header.page > .subtitle > p > a {
    margin-left: .4rem;
}

header a {
    text-decoration: none;
}

.post pre {
    overflow-x: scroll;
}

section.page > article:after {
    font-size: .7em;
    margin-left: 50%;
    content: "â•"
}
