
<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.Description }}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//unpkg.com/normalize.css@8.0.1/normalize.css">
    {{ $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
    <link href="//fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/{{ .Site.Params.Fontawesome }}.js"></script>
</head>
