{{ define "main" }}
    <section class="page">
      <article class="intro">
        <h1>{{ .Site.Title | default "This is Moustachioed." }}</h1>
        <p class="centered-text">{{ .Site.Params.subtitle | default "& these are some links" }}</p>

        <ul class="double-text">
            {{ range $link := .Site.Params.links }}
            <li>
                <a href="{{ $link.url }}" title="{{ $link.name }}">
                  <i class="fab fa-{{ $link.fa_logo }}"></i>
                </a>
            </li>
            {{ end }}
        </ul>
      </article>

      {{ $posts := where .Site.Pages ".Type" "==" "post" }}
      {{ if gt (len $posts) 0 }}
      <article class="posts">
        {{ range $posts }}
          <article class="post-summary">
            <header>
              <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            </header>
            <p>{{ .Summary }}</p>
            <footer class="half-text">
              <p>Published in <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2006" }}</time>.</p>
            </footer>
          </article>
        {{ end }}
      </article>
      {{ end }}
    </section>
{{ end }}
