{{ define "main" }}
    <section>
        <h1>{{ .Params.title | default "This is Moustachioed." }}</h1>
        <p class="centered-text">{{ .Params.subtitle | default "& these are some links" }}</p>

        <ul class="double-text">
            {{ range $link := .Params.links }}
            <li>
                <a href="{{ $link.url }}" title="{{ $link.name }}">
                  <i class="fab fa-{{ $link.fa_logo }}"></i>
                </a>
            </li>
            {{ end }}
        </ul>
    </section>

    <section class="posts">
      <article class="post-summary">
        <header>
          <h2><a href="post-title">Lorem ipsum</a></h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          [...] <a href="#read-full">(read full)</a></p>
        <footer>
          <p>Published on the <time datetime="2019-08-10T07:00:00+03:00">10th of August</time>, in the <a href="#lol">lol</a> categories.</p>
        </footer>
      </article>
    </section>
{{ end }}
